.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
application.yml
application_sv.yml
spreadsheet-credentials.json
rock7accounts.tsv
src/main/resources/public/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/data.db.mv.db
data.db.trace.db

.vscode/
