.leaflet-container {
  height: calc(100vh - 85px);
  width: 100%;
}

.navbar {
  width: 99%;
  padding-bottom: 0.3em;
}

.navbar-collapse {
  padding-top: 0.5em;
}

.chartwrapper,
.chartAreaWrapper {
  width: 500px;
  height: 300px;
}

.chartwrapper {
  position: relative;
  margin: 0 auto;
}

.chartAreaWrapper {
  margin-top: -1em;
}

#weatherPlot span:first-of-type {
  margin: 0 auto;
}

#weatherPlot span:last-of-type {
  margin: 1em auto 0 auto;
}

@media (max-width: 640px) {
  .chartwrapper,
  .chartAreaWrapper {
    width: 60vw;
  }
  .chartwrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 0;
  }
  .chartAreaWrapper > div {
    width: 200% !important;
  }
}

section.map.mode-create {
  cursor: crosshair;
}

path.leaflet-line {
  stroke: #50622b;
  stroke-width: 2;
}

div.leaflet-edge {
  background-color: #95bc59;
  box-shadow: 0 0 0 2px white, 0 0 10px rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  cursor: move;
  outline: none;
  transition: background-color 0.25s;
}

div.leaflet-edge.disabled {
  pointer-events: none;
  background-color: #bbb;
}

path.leaflet-polygon {
  fill: #b4cd8a;
  stroke: #50622b;
  stroke-width: 2;
  fill-opacity: 0.75;
}

.editing-waypoint {
  height: 16px;
  width: 16px;
  transform: translate(-2px, -2px);
  background-color: red;
  border-radius: 50%;
  border: 2px solid #000;
  display: inline-block;
}

.leaflet-editing-icon {
  width: 14px !important;
  height: 14px !important;
}

.sr-only {
  display: none;
}

.leaflet-popup-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 1em;
}

.react-datepicker,
.react-datepicker-wrapper {
  display: flex !important;
}

.date-picker-control {
  display: flex;
  align-items: center;
}

.waypoint-popup .leaflet-popup-content {
  width: 15em !important;
  margin-bottom: 0em;
}

.date-picker-control > i {
  margin-left: 0.5em;
}

.side-panel {
  position: absolute;
  max-height: 50%;
  top: 25%;
  right: 0.5em;
  z-index: 500;
  opacity: 0.8;
  border-radius: 0.5em;
  max-width: 40%;
}

.side-panel .card-title {
  display: flex;
  align-items: baseline;
}

.side-panel ul {
  padding-left: 1em;
}

.scrollable {
  max-height: 100%;
  overflow-y: auto;
}

.btn {
  margin-top: 0.5em;
}

.mouse-pointer {
  cursor: pointer;
}

.mapLegend {
  position: absolute;
  top: 300px;
  left: 10px;
  z-index: 9999;
}

.selected {
  color: green;
}

.vehicle-modal {
  width: 75%;
  margin: 0.5rem auto;
}

.vehicle-modal .modal-body {
  height: 450px;
  max-height: 530px;
  overflow-y: auto;
}

.vehicle-modal ul {
  list-style: none;
  padding-inline-start: 0.5em;
  margin-inline-end: 0.5em;
}

.dropdown button {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  width: 15em;
}

.plan-dropdown-item {
  display: inline-flex;
  align-items: baseline;
  margin-left: 1em;
}

.tooltip {
  margin: 0;
  padding: 0.5em 0em;
  width: 18em;
}

.tooltip ul {
  list-style: none;
  text-align: center;
  padding: 0 1em;
  margin: 0 auto;
}

.tooltip span {
  display: table;
  margin: 0 auto;
}

.tooltip ul + span {
  font-weight: lighter;
  font-size: 80%;
  margin-top: 0.5em;
}

#tooltip-zt .dropdown-menu {
  padding: 1em;
}

#tooltip-zt .dropdown-menu button {
  width: 100%;
}

.leaflet-control-layers label > div {
  display: flex;
  padding-top: 0.2em;
}

.leaflet-control-layers span {
  padding-left: 0.5em;
}

.leaflet-draw.leaflet-control a {
  color: white;
  text-decoration: none;
}

.pollutionDialog {
  position: absolute;
  left: 50px;
  top: 10px;
  z-index: 9999 !important;
  color: #004085;
  background-color: #cce5ff;
  border: 1px solid;
  border-radius: .25rem;
  text-align: center;
  padding: 0.3em 2em;
  user-select: none;
  outline: 0;
  opacity: 0.9;
  animation: fadein 500ms;
  -moz-animation: fadein 500ms;        /* Firefox */
  -webkit-animation: fadein 500ms;     /* Safari and Chrome */
}

.pollutionForm {
  display: grid;
  width: 200px;
  margin: 5px;
}

.pollutionSpan {
  display: block;
}

.obstacleForm {
  display: grid;
  border: 1px solid;
  color: #00408A;
  background: #b6cce3;
  border-radius: .25rem;
  margin: 5px;
}

.pollutionUpdateMarker span {
  text-align: center;
  display: block;
}

.pollutionUpdateMarker label {
  display: table-cell;
}

.pollutionUpdateMarker hr {
  margin-bottom: 0px;
}

.pollutionForm label {
  display: flex;
  margin-top: 4px;
  margin-bottom: 0px;
}

#pollutionDescriptionUpdate, #pollutionRadiusUpdate, #pollutionLatitudeUpdate, #pollutionLongitudeUpdate, #pollutionConfigUpdate {
  width: -webkit-fill-available;
  margin-bottom: 2px;
}