.leaflet-container {
    height: calc(100vh - 72px);
    width: 100%;
}

.navbar{
    width: 100%;
}

.chartwrapper{
    height:300px;
    width: 100%;
}


section.map.mode-create {
    cursor: crosshair;
}

path.leaflet-line {
    stroke: #50622b;
    stroke-width: 2;
}

div.leaflet-edge {
    background-color: #95bc59;
    box-shadow: 0 0 0 2px white, 0 0 10px rgba(0, 0, 0, .35);
    border-radius: 50%;
    cursor: move;
    outline: none;
    transition: background-color .25s;
}

div.leaflet-edge.disabled {
    pointer-events: none;
    background-color: #bbb;
}

path.leaflet-polygon {
    fill: #b4cd8a;
    stroke: #50622b;
    stroke-width: 2;
    fill-opacity: .75;
}

