.bg-green {
    background-color: chartreuse;
}
.bg-red {
    background-color: red;
}

.bg-orange {
    background-color: orange;
}

#phoneSubscriberItem {
    border-right: 3px solid rgb(46, 46, 46);
    border-left: 3px solid rgb(46, 46, 46);
    padding: 1em
}