#nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-link {
    text-decoration: none;
    color: #444444;
    font-size: 1.2em;
    margin-right: 2rem!important;
}

.navbar-link:hover {
    text-decoration: none;
}

#logo {
    width: 70px;
}

@media only screen and (max-width: 800px) {
    #nav {
        flex-direction: row;
    }
}