html, body {
    overflow: hidden;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

#planEditToolbar, #generalToolbar {
    display: flex;
}

.navbar-link {
    text-decoration: none;
    color: #444444;
    font-size: 1.2em;
    margin-right: 2rem!important;
}

.navbar-link-panel {
    text-decoration: none;
    color: #444444;
    font-size: 1.2em;
}

.navbar-link:hover {
    text-decoration: none;
}

#logo {
    width: 70px;
}

@media only screen and (max-width: 800px) {
    #nav, .navbar-nav {
        flex-direction: row;
        justify-content: center;
    }
    #nav + ul {
        padding-top: 0.5m;
    }
    .side-panel {
        margin-top: 3.5em;
    }
}

@media only screen and (max-width: 550px) {
    #planEditToolbar {
        display: none;
    }
}

@media only screen and (max-width: 880px) {
    .navbar-collapse {
        flex-direction: column;
    }
    #nav, .navbar-nav {
        margin: 0;
    }
}

#addMapBtn {
    margin: 0.5em
}

i:hover {
    color: #0000CD;
}

#login-btns {
    text-align: center;
    margin: -5px;
}

.login-title{
    display: block;
    font-size: small;
}

#userRole {
    display: flex;
    align-items: center;
    margin-right: 15px;
    font-size: medium;
    font-weight: normal;
}    

@media (max-width:880px){
    .leaflet-container {
        height: calc(100vh - 132px);
    }
}

@media (max-width:766px){
    .leaflet-container {
        height: calc(100vh - 66px);
    }
}

@media (max-width:600px){
    #sliderToggle {
        bottom: -32px;
    }

    .ripples-tools {
        bottom: 150px !important; 
    }
}

@media (max-height:620px){
    .ripples-tools {
        display: none;
    }
}

@media (max-height:410px){
    .ripples-tools-nologin {
        display: none;
    }
}

.ripples-tools, .ripples-tools-nologin {
    z-index: 999;
    position: absolute;
    bottom: 150px;
    margin-left: 10px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 65%);
    border-radius: 4px;
    background-color: #fff;
}

.tool-ruler, .tool-gps, .tool-annotation, .tool-weather {
    color: #464646;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.tool-weather > li {
    display: block;
}

.tool-weather > li > a {
    display: block;
    padding: 0px;
    color: #464646;
}

.weather-menu {
    left: 26px !important;
}