html, body {
    overflow: hidden;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}

#planEditToolbar, #generalToolbar {
    display: flex;
}

.navbar-link {
    text-decoration: none;
    color: #444444;
    font-size: 1.2em;
    margin-right: 2rem!important;
}

.navbar-link:hover {
    text-decoration: none;
}

#logo {
    width: 70px;
}

@media only screen and (max-width: 800px) {
    #nav, .navbar-nav {
        flex-direction: row;
        justify-content: center;
    }
    #nav + ul {
        padding-top: 0.5m;
    }
    .side-panel {
        margin-top: 3.5em;
    }
}

@media only screen and (max-width: 550px) {
    #planEditToolbar {
        display: none;
    }
}

@media only screen and (max-width: 880px) {
    .navbar-collapse {
        flex-direction: column;
    }
    #nav, .navbar-nav {
        margin: 0;
    }
}

#addMapBtn {
    margin: 0.5em
}

i:hover {
    color: #0000CD;
}