#logbook-entries .selectedLogbook {
  background-color: #ffffa1;
}

.container {
  text-align: left;
}

#add-logbook-form {
  justify-content: center;
  align-items: baseline;
  margin-bottom: 1em;
}

.modal input {
  margin-bottom: 1em;
}

h5#creationDate {
  margin-bottom: 1em;
}

#active-logbook, #selected-logbook {
  display: flex;
  margin: 1.5em 0 0.5em 0;
  align-items: flex-end;
}

#logbooks-info h5:first-of-type {
  padding-bottom: 1em;
}

#logbook-entries-header {
  display: flex;
  margin-bottom: 0.5em;
  align-items: flex-end;
}

span {
  display: table;
  margin: auto;
  font-weight: bold;
}

#logbook-table {
  overflow-wrap: break-word;
  vertical-align: middle;
}

@media(max-width: 600px) {
  label[for="logbookName"] {
    display: none;
  }
}