#logbook-entries .selectedLogbook {
  background-color: #ffffa1;
}

.container {
  text-align: center;
}

#add-logbook-form {
  justify-content: center;
  align-items: baseline;
  margin-bottom: 1em;
}

#logbooks-info {
  display: block;
  margin: 1.5em 0 0.5em 0;
}

#logbooks-info h5:first-of-type {
  text-align: center;
  padding-bottom: 1em;
}

#logbook-entries-header {
  display: flex;
  margin-bottom: 0.5em;
  align-items: flex-end;
}

#logbook-table {
  overflow-wrap: break-word;
  vertical-align: middle;
}

@media(max-width: 600px) {
  label[for="logbookName"] {
    display: none;
  }
}